body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/daniel-canibano-vrpv8SMQixo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

.social-links a {
  display: inline-block;
  color:white;
  width: 36px;
  margin-right: 10px;
}

.navcolor{
background-color: #3d3d58;
}

.card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.mtcolor{
  background-color: #3d3d58;
}

footer{
  background-color: #1d1d2b;
  color: black;
}

.btncolor{
  background-color: #1d1d2b;
}